/* UserProfile.css */

.page-background {
  background-color: #dfd2d2; /* Set background color of the page */
  min-height: 100vh; /* Ensure background covers the full height of the viewport */
  display: flex;
  justify-content: center;
}

.user-profile-container {
  width: 80%;
  margin: 50px auto; /* Adjust top margin to move the content down */
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Add margin at the bottom to separate from next section */
}

.user-photo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.user-details {
  font-family: Arial, sans-serif;
}

.user-name {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}

.user-email,
.user-phone {
  color: #666;
  margin-bottom: 5px;
}

.divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.user-options {
  margin-top: 20px;
}

.dropdown-btn {
  background-color: #e1dddd;
  color: #333;
  padding: 10px 20px;
  height: 65px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%; /* Set width to 100% */
  display: flex;
  justify-content: space-between;
}

.dropdown-content {
  display: none;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  width: calc(100% - 40px); /* Match width to card width */
  margin-top: 10px;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-content ul li {
  padding: 8px 0;
  color: #333;
  transition: color 0.3s ease;
}

.dropdown-content ul li:hover {
  color: #007bff;
}

.user-options {
  margin-top: 20px;
}

.dropdown-btn {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.dropdown-btn.active {
  background-color: #2980b9;
}

.dropdown-content h3 {
  color: #333;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-content li {
  margin-bottom: 10px;
}

.dropdown-content, .dropdown-btn {
  transition: background-color 0.3s;
}
